{% extends 'base.html' %}
{% load static %}
{% block content %}
		
		
		{% for user in users %}
			<!-- <div style="float: left; margin: 20px 20px 40px 20px; background-color: yellow; width: 150px; height: 100px"> -->
				<!-- <img src="{% if user.prof_image %}{{user.prof_image.url}}{% else %}{% static 'images/image_not_found.jpg' %}{% endif %}"  -->
							<!-- style="width: 55px; border-radius: 15px; float:left; margin-left: 40px"> -->
				<!-- <br> -->
				<!-- <p style="text-align: center"> {{ user.username }}</p> -->
				
			<!-- </div> -->
			<div class="card" id="faradars" style="float: left; width: 250px; margin: 40px 50px 10px 40px">
				<div class="card-header block">
					<span style="font-size: 12px; background-color: ; width: 30%">username: </span><a href="#" style="float: right; text-decoration: none; width: 70%; text-align: center; font-size: 16px; background-color: "> {{ user.username }} </a>
				</div>
				<div class="card-body" style="height: 150px">
					<img src="{% if user.prof_image %}{{user.prof_image.url}}{% else %}{% static 'images/image_not_found.jpg' %}{% endif %}" 
						{% if user.is_public %}id="har"{% elif request.user in user.followers.all %}id="har"{% endif %}
							style="width: 120px; height: 120px; border-radius: 60px; float:left; margin: -10px 40px auto 40px">
				<br>
				</div>
				<div class="card-footer">
					<a href="{{user.get_absolute_url}}" type="button" class="btn btn-info btn-block" style="float:; width: 90%;">See Profile ...</a>
				</div>
			</div>
			
			
		{% endfor %}
					
{% endblock content %}


